<div class="row">
  <div class="col-md-12">
      <h1 *ngIf="categoryTitle$ | async as categoryTitle">{{ categoryTitle }}</h1>
  </div>
</div>
<div class="row ">

<ng-container *ngIf="products$ | async as products">
  <div class="col-md-4  box-shadow" *ngFor="let product of products">
    <div class="p-3 card border bg-light">
  <div class="card-header">
    <h4 class="my-0 font-weight-normal">{{ product.name }}</h4>
  </div>
  <div class="card-body">
    <img class="img-fluid mb-4" [src]="product.photo">
    <button type="button" class="btn btn-lg btn-block btn-outline-primary" onclick="window.location.href='interior-product.html'">View</button>
  </div>
  </div>
  </div>
</ng-container>



</div>
